/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: Black;
  background-color: #1a1a1a;
}

header {
  background-color: #5910E5; /* Dark Purple */
  color: Black;
  padding: 40px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header .social-links {
  margin-top: 20px;
}

header .social-links a {
  color: #C3FF83; /* white */
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

#services {
  padding: 50px 20px;
  background-color: #2c2c2c;
}

#services h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.service {
  text-align: center;
  margin-bottom: 30px;
}

.service h3 {
  font-size: 2rem;
  color: #C3FF83;
}

.service p {
  font-size: 1.1rem;
}

.price {
  font-size: 1.2rem;
  color: #C3FF83;
}

#contact {
  padding: 50px 20px;
  background-color: #1a1a1a;
  text-align: center;
}

form input, form textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #5910E5;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

form button {
  padding: 15px;
  width: 100%;
  border: none;
  background-color: #5910E5;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

form button:hover {
  background-color: #C3FF83;
}

footer {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 20px;
}
